exclude: '^(crates/beancount-formatter/tests/format-and-check|patches)/.*$'

repos:
  - repo: https://github.com/trim21/dprint-pre-commit
    rev: 'v0.51.1.0'
    hooks:
      - id: dprint
        pass_filenames: false

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.24.1
    hooks:
      - id: validate-pyproject
        language: python
        # Optional extra validations from SchemaStore:
        additional_dependencies:
          - 'validate-pyproject-schema-store[all]==2026.1.10'
        args:
          - --disable
          - ruff

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-ast
      - id: check-builtin-literals
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-added-large-files # check for file bigger than 500kb
      - id: debug-statements
      - id: trailing-whitespace
        exclude: '.*\.bin'
      - id: mixed-line-ending
        args: [--fix=lf]
        exclude: '.*\.bin'
      - id: end-of-file-fixer
        exclude: '.*\.bin'
      - id: fix-byte-order-marker
        exclude: '.*\.bin'

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        types_or: [c++, c, cuda]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
