name: publish

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  cargo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dsherret/rust-toolchain-file@v1
      - uses: rust-lang/crates-io-auth-action@v1
        id: auth
      - name: Cargo publish core
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish -p beancount-formatter
      - name: Cargo publish dprint plugin
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
        run: cargo publish -p dprint-plugin-beancount
